<%= form_for(@user, :remote => true, html: {id: 'signup_form', class: 'form-horizontal'}) do |f| %>
  <% if @user.errors.any? %>
    <h2>Please Correct the Following Errors</h2>
    <div class="error_messages">
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <h2>Build a Badge</h2>
  <div class="badge_info">
    <div class="personal_info">
      <div class="first_name"><%= f.text_field :first_name, :placeholder => 'First Name', :maxlength => 11 %></div>
      <div class="last_name"><%= f.text_field :last_name, :placeholder => 'Last Name' %></div>
      <div class="divider"></div>
      <div class="title"><%= f.text_field :title, :placeholder => 'Title' %></div>
      <div class="organization"><%= f.text_field :organization, :placeholder => 'Organization' %></div>
    </div>
    <div class="inspirations">
      <div class="the_inspirations">
        <div class="inspiration"><br><%= f.text_field :inspiration1, :placeholder => 'Limit 45 Characters', :maxlength => 45 %></div>
      </div>
    </div>
  </div>
  <div class="personal_email">
    <%= f.email_field :email, :placeholder => 'Email Address' %>
  </div>
  <%= f.submit "Create Badge", class: "btn-panuu-2 submit-form-btn" %>
<% end %>


<script>

</script>
