


<%= form_for(@user, html: {id: 'signup_form'}) do |f| %>
  <div class="badge_info">
    <div class="personal_info">
      <div class="first_name"><%= f.text_field :first_name, :placeholder => 'First Name', :maxlength => 11 %></div>
      <div class="last_name"><%= f.text_field :last_name, :placeholder => 'Last_Name' %></div>
      <div class="divider"></div>
      <div class="title"><%= f.text_field :title, :placeholder => 'Title' %>,</div>
      <div class="organization"><%= f.text_field :organization, :placeholder => 'Organization' %></div>
    </div>
    <div class="inspirations">
      <div class="the_inspirations">
        <div class="inspiration"><br><%= f.text_field :inspiration1, :maxlength => 45 %></div>
      </div>
    </div>
  </div>



  <%= f.text_field :email %>

  <%= f.submit "Create Badge" %>
<% end %>


<script>

</script>
