

<%= simple_form_for(@user, :html => {:class => "form-horizontal", id: 'signup_form'}) do |f| %>
  <%= f.input :first_name, :limit => 11 %>
  <%= f.input :last_name %>
  <%= f.input :title %>
  <%= f.input :organization %>
  <%= f.input :email %>

  <h3>What's your quest? (Limit 45 characters each)</h3>
  <%= f.input :inspiration1, :label => false, :limit => 45 %>

	<%= f.button :submit, 'Create Badge', class: "btn-panuu-2 submit-form-btn" %>
	<%= link_to "Cancel", root_path, class: "btn btn-danger"  %>
<% end %>


<script>

</script>
