

<%= simple_form_for(@user, :html => {:class => "form-horizontal", id: 'signup_form'}) do |f| %>
  <%= f.input :first_name %>
  <%= f.input :last_name %>
  <%= f.input :title %>
  <%= f.input :organization %>
  <%= f.input :email %>

  <h3>What inspires you?</h3>
  <br>
  <%= f.input :inspiration1, :label => '1' %>
  <%= f.input :inspiration2, :label => '2' %>
  <%= f.input :inspiration3, :label => '3' %>

	<%= f.button :submit, 'Create Badge', class: "btn-panuu-2 btn-large submit-form-btn" %>
	<br>
	<br>
	<%= link_to "Cancel", root_path, class: "cancel-link"  %>
<% end %>


<script>

</script>