<div class="badge_info">
	<div class="personal_info">
		<div class="first_name"><%= @user.first_name %></div>
		<div class="last_name"><%= @user.last_name %></div>
		<div class="title"><%= @user.title %></div>
		<div class="organization"><%= @user.organization %></div>
	</div>
	<div class="inspirations">
		<div class="what_inspires">What<br>Inspires<br>You?</div>
		<div class="inspiration"><span class="answer">Answer 1</span><br><%= @user.inspiration1 %></div>
		<div class="inspiration"><span class="answer">Answer 2</span><br><%= @user.inspiration2 %></div>
		<div class="inspiration"><span class="answer">Answer 3</span><br><%= @user.inspiration3 %></div>
		<div class="clear"></div>
	</div>
</div>


<%= link_to "Print Badge", "", onclick: "window.print();", class: "btn btn-panuu-2 btn-large print-btn", method: "get" %>
<br>
<br>
<%= link_to "Exit", root_path, class: "exit-link" %>