<!DOCTYPE html>
<html>
<head>
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=PT+Serif:400,700' rel='stylesheet' type='text/css'>
  <title>Chicago Ideas Week - Build a Badge</title>
  <%= stylesheet_link_tag    "application", :media => "screen, projection" %>
  <%= stylesheet_link_tag 	 "print", :media => 'print' %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/google_analytics' %>
  <%= render 'layouts/print_settings' %>
</head>
<body>

<%= link_to image_tag('ideas_week_logo.jpg', class: 'logo'), root_path %>

 <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="brand" href="/"></a>
        <span class="logo_container"><em>powered by &nbsp;&nbsp;</em><a class="lpl_logo" href="http://launchpadlab.com" target="_blank"><%= image_tag 'LPL_logo_transpBG-no-text.png' %></a></span>
      </div>
    </div>
  </div>

<div class="container">
	<%= yield %>
</div>

</body>
</html>
